<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN EMIN</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/plugins/jquery-1.12.4.min.js"></script>
</head>
<body>
<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
    <h2>Замена баннеров EMIN.KG:</h2>
    <h3>Максимальный размер одного файла - 500 КБ</h3>
    <h3>Тип(расширение) файла должен быть: .jpg (Пример: мойбаннер.jpg)</h3><br/>
    <h3>Баннеры в начале:</h3>
    <h4>Слайдер 3 баннера (размер - 1920х430):</h4>
    Баннер 1: <input type="file" accept="image/jpeg" name="files"/><br/><br/>
    Баннер 2: <input type="file" accept="image/jpeg" name="files"/><br/><br/>
    Баннер 3: <input type="file" accept="image/jpeg" name="files"/><br/><br/>
    <br>
    <h4>Баннер после "Новинки" (размер - 1170х245):</h4>
    Баннер 1: <input type="file" accept="image/jpeg" name="files"/><br/><br/>
    <br>
    <h4>Маленькие 2 баннера после "Новые поступления" (размер - 570х210):</h4>
    Баннер 1: <input type="file" accept="image/jpeg" name="files"/><br/><br/>
    Баннер 2: <input type="file" accept="image/jpeg" name="files"/><br/><br/>
    <br>
    <h4>Маленькие 3 баннера после "Хиты продаж" (размер - 379х188):</h4>
    Баннер 1: <input type="file" accept="image/jpeg" name="files"/><br/><br/>
    Баннер 2: <input type="file" accept="image/jpeg" name="files"/><br/><br/>
    Баннер 3: <input type="file" accept="image/jpeg" name="files"/><br/><br/>

    <input type="submit" value="Заменить баннеры" id="submitButton"/>
</form>

<h2>Результат загрузки изображений:</h2>
<div style="border:1px solid #ccc;padding: 5px;">
    <span id="result"></span>
</div><br/>
<button type="button" onclick="location.href='/'">Выйти</button>

<!-- Custom scripts-->
<script src="/js/admin.js"></script>
</body>
</html>
